
body, html {
    margin: 0;
    padding: 0;
}

body {
    min-width: 1000px;
    font: normal 12px Verdana, sans-serif;
}

table.main {
    border: 0px;
    width: 100%;
    height: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}

table.main td {
    padding: 0px;
}

table.header {
    border: 0px;
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}

table.header td {
    font: normal 12px Verdana, sans-serif;
    padding: 4px;
    color: white;   
    vertical-align: middle;
}

.like-pre {
white-space: pre;
}

#banner {
    background-color: #B9520E;
}

h2 {
    font-size: 14px;
    color: #E1980A;
}

a {
    text-decoration: none;
}

label {
    display: block;
    float: left;
    width: 160px;
}

.textField input {
    width: 160px;
}

fieldset div {
  clear: both;
}

tr.content td {
    padding: 15px;
}